# Virtual Environment
myvenv/
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env
.env.*

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
